@page "/blazorExperience"

 
<Title text="Blazor Experience"></Title>

<Subtitle Title="How much experience do you have in Blazor Web Assembly?"/>

<p>
    I’m extremely interested in Blazor and Web Assembly; I’ve been following some of the Mozilla blogs and watching recent sessions on NDC London and .Net Conf. 
</p>
<p>
    My experience is only at a research level so far – no real-world projects yet – but I’m happy to go away and get up to speed with any specific elements 
    before we start the developer clock running. 
</p>
<p>    
    To show my willingness to get to grips with Blazor I’ve created this quick demo website using Blazor WebAssembly and deployed it to GitHub Pages.
    The website uses is modified from the standard template and includes some changes to use:
</p>
<ul>
    <li>Simple JSON API calls</li>
    <li>Custom components</li>
    <li>Basic routing.</li>
</ul>
<p>
    This website is statically hosted on GitHub pages. You can view the code on Github at <a href="https://github.com/JustAGuyCoding/blazor">https://github.com/JustAGuyCoding/blazor</a>.
</p>
@code {

}
