@page "/"
@page "/covernotes"
@page "/blazorshowcase"

<Title text="Cover Letter"></Title>

<Subtitle Title="A little About Me."/>
<p>
    I’m a freelancer specialising in C#, based in Reading, England. I’ve been building .NET applications since around 2004, 
    originally developing desktop and server-side applications (services) in .NET 1.0! These days I work on ASP.NET MVC and 
    Umbraco websites, with the occasional C# Windows GUI thrown in.
</p>

<p>
    My standard working week is Monday to Friday, 9:30 to 18:00 daily, with an hour for lunch. I currently have availability 
    for 4 days a week for up to 7 hours. I’ll need the other day to meet existing customer agreements. 
</p>

<p>
    In terms of working from short project briefs and limited specifications, that’s not an issue, I’m happy to follow whatever workflow you use. 
    As a rule, in the early stages of a project I tend to use a prototyping (code or moqups.com) or push work in-progress to development servers to encourage client feedback, 
    rather than working to a formal specification, but it all depends on the client.
</p>

<p>
    Naturally as a modern ASP.NET web developer I have experience with MS SQL, with exposure to code first entity framework, and some experience of the Poco and NPoco ORMs too. I also regularly use and implement both commercial and proprietary APIs and recently built an application using WebSockets for real-time data transfer. 
</p>

<Skills></Skills>
@code {
}
