@page "/goodfit"
<Title text="Good Fit"></Title>
<Subtitle Title="Why do you think you are a good fit for this particular project?"/>
<p>
    I have a wealth experience using Microsoft Technologies going back 20 years, from Classic ASP to ASP Web Forms and ASP.NET MVC with Razor views. 
</p>
<p>
    Having used Vue.js I have experience of developing in a component orientated architecture like Blazor. My JavaScript skills are also relatively 
    strong (jQuery, Vue, AngularJS 1.8) which should help if Interop is required.
</p>
<p>
    Lastly, I’m eager to learn Blazor and ready to start to work.
</p>

@code {

}
